
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
     background-color: rgba(0, 0, 0, 0.7);
        
      }
  
.play h1{
    text-align: left;
    font-weight: bolder;
    font-family: 'Poppins',serif;
    margin-top: 15px;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      
    
      
}


header h1 {
    color: #B9BFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 850;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

nav a {
    color:#B9BFFF;
    text-decoration: none;
}
nav a:hover {
    color: rgb(207, 202, 202);
  }
  
.btn{
     
    margin-left: 18px;
    margin-bottom: 20px;
    padding: 5px  5px;
    background: linear-gradient(45deg, #721f7c, #7953A9);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    width: 150px;
    height: 30px;
}


.game-card {

    display: flex;
    justify-content: space-evenly;
    
}
.game{
    height:520px;
    width: 30%;
    border:#7600bc ;
    border-radius: 8px;
    background: linear-gradient(15deg, #08001f,#7600bc);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    animation: fadeIn 1s ease forwards;
    
   
  

}
.game img {
    padding: 5px;
    width: 100%;
    height: 380px;
    border: transparent;
    transition: transform 0.5s ease;
    border-radius:10px;
    background-position: cover;
}
.game h3{
    text-align: center;
    font-weight: 700;
    margin-top: 14px;
}
.game p{
    text-align: center; 
    margin: 15px;
    font-size: 1rem;
    font-weight: 500;
}


.game-card button {
    padding: 0.5em 1em;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 150px ;
    margin-bottom: 2px;
    cursor: pointer;
    background: linear-gradient(45deg, #721f7c, #7953A9);
}


button:hover {
    background: #663399;
}
.btn:hover{
    background: #663399;
}
footer {
    text-align: center;
    color: #cccccc;
    padding: 20px;
    background-color: #1f1c2c;
    margin-top: 60px;
  }
  


.game:hover img{ 
    transform: scale(1.05);}



@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
        }
}
@media (max-width: 768px) {
    .game-card {
      margin: 10px;
    }
  
    h1 {
      font-size: 1.8rem;
    }
  }
  